body {
  background-color: #eee;
}

.warning {
  color: red;
}

.correct{
  outline-color: green;
}

.incorrect {
  outline-color: red;
}

.noOutline {
  outline: none;
}

.currentWord {
  background-color: white;
}