$black: #101010;
$green: #008C22;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  width: 100%;
  font-size: 24px;
}

.container {
  width: 800px;
  margin: 0px auto;
  text-align: center;
  font-family: Arial;
}

svg {
  margin: 100px auto 0 auto;
  display: block;
}

.warning {
  color: red;
}



.noOutline { 
  outline: none;
}

.currentWord {
  color: $green;
  border-bottom: 2px solid $green;
}

input:disabled {
  background-color: #eee;
}

a.button {
  text-decoration: none;
  background-color: #419BF9;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  float: center;
}

// styles for the typing view! 

.typing-view {
  background: white;
  padding: 40px;
  float: left;
  width: 680px;
  border: 1px solid #ddd;
}

.paragraph-text {
  font-family: "Courier New", Courier, serif;
  color: $black;
  p {
    margin: 0 0 0.5em 0;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
  }
}
.stats-view {
  background: white;
  font-size: 12px;
  width: 100px;
  float: left;
  margin-left: 20px;
  padding: 10px 20px;
  text-align: center;
  color: #444;
  border: 1px solid #ddd;
  .stats-box {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .stats-box:last-child {
    padding-bottom: 0;
    border: 0 none;
  }
  span.num {
    font-size: 32px;
    font-weight: bold;
    display: block;
    line-height: 1;
    letter-spacing: -1px;
  }
  span.desc {
    font-size: 12px;
    display: block;
  }
}

input { 
  width: 100%;
  height: 48px;
  padding: 0px 7px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
  margin-top: 24px;
}

